In [1]:
from google.colab import drive
import os

drive.mount('/content/gdrive')
os.chdir('/content/gdrive/My Drive/Pandas/')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_countword= pd.read_csv('remove_num.csv')

In [4]:
column_names = list(df_countword.columns.values)
len(column_names)

21060

## remove no meaning word (glove dict)

In [6]:
import gensim
from gensim.models import KeyedVectors
from gensim.scripts.glove2word2vec import glove2word2vec

glove_input_file='glove.6B.100d.txt'
glove_output_file='word2vec.txt'

glove2word2vec(glove_input_file,glove_output_file)
model = KeyedVectors.load_word2vec_format(glove_output_file, binary = False)

<ipython-input-6-9281bdeb6439>:8: DeprecationWarning: Call to deprecated `glove2word2vec` (KeyedVectors.load_word2vec_format(.., binary=False, no_header=True) loads GLoVE text vectors.).
  glove2word2vec(glove_input_file,glove_output_file)

In [7]:
def filter_column_append(column):
  filter_list = []
  for word in column :
    if word in model.key_to_index:
      filter_list.append(word)
  return filter_list

df_filterword = df_countword[filter_column_append(column_names)]

In [8]:
len(filter_column_append(column_names))

18422

In [9]:
df_filterword = df_countword[filter_column_append(column_names)]

In [10]:
df_filterword

,name,a1,aa,aaa,aachen,aaron,ab,abacus,abandon,abandoned,...,zoological,zoologist,zoom,zot,zsa,zu,zug,zum,zun,zuni
0,Gloomhaven,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Brass: Birmingham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Pandemic Legacy: Season 1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ark Nova,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Twilight Imperium: Fourth Edition,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Subbuteo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,The Chameleon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,Days of Ire: Budapest 1956,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,Monster Lands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,Bosk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_filterword.to_csv('remove_nondict.csv')

## sum by frequency

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('remove_nondict.csv')

In [13]:
df = df_filterword

In [14]:
df.columns.values[1:]

array(['a1', 'aa', 'aaa', ..., 'zum', 'zun', 'zuni'], dtype=object)

In [15]:
freqword = df.sum(axis=0)

In [16]:
freqword

name      GloomhavenBrass: BirminghamPandemic Legacy: Se...
a1                                                        1
aa                                                        4
aaa                                                       5
aachen                                                    1
                                ...
zu                                                       12
zug                                                       4
zum                                                       1
zun                                                       1
zuni                                                      1
Length: 18422, dtype: object

In [17]:
freqword_without_name = freqword[1:]
freqword_without_name

a1         1
aa         4
aaa        5
aachen     1
aaron      1
          ..
zu        12
zug        4
zum        1
zun        1
zuni       1
Length: 18421, dtype: object

In [18]:
test_keys = df.columns.values
test_values = ['sum'] + list(freqword_without_name)

# using naive method
# to convert lists to dictionary
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break
# Printing resultant dictionary
# print("Resultant dictionary is : " + str(res))

In [19]:
df_sum = df.append(res,ignore_index=True)
df_sum

<ipython-input-19-a118782c6716>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_sum = df.append(res,ignore_index=True)

,name,a1,aa,aaa,aachen,aaron,ab,abacus,abandon,abandoned,...,zoological,zoologist,zoom,zot,zsa,zu,zug,zum,zun,zuni
0,Gloomhaven,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Brass: Birmingham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Pandemic Legacy: Season 1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ark Nova,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Twilight Imperium: Fourth Edition,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,The Chameleon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,Days of Ire: Budapest 1956,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,Monster Lands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,Bosk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000,sum,1,4,5,1,1,3,3,4,20,...,1,1,2,1,2,12,4,1,1,1

In [ ]:
df_sum.to_csv('sumword.csv')

## Sort

In [ ]:
df_sum = pd.read_csv('sumword.csv')

In [ ]:
df_sum

,Unnamed: 0,name,a1,aa,aaa,aachen,aaron,ab,abacus,abandon,...,zoological,zoologist,zoom,zot,zsa,zu,zug,zum,zun,zuni
0,0,Gloomhaven,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Brass: Birmingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Pandemic Legacy: Season 1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Ark Nova,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,4,Twilight Imperium: Fourth Edition,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1996,The Chameleon,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,1997,Days of Ire: Budapest 1956,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,1998,Monster Lands,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,1999,Bosk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000,2000,sum,1,4,5,1,1,3,3,4,...,1,1,2,1,2,12,4,1,1,1

In [ ]:
df_dropname = df_sum.drop(columns=['name','Unnamed: 0'])

In [21]:
df_dropname

,a1,aa,aaa,aachen,aaron,ab,abacus,abandon,abandoned,abandoning,...,zoological,zoologist,zoom,zot,zsa,zu,zug,zum,zun,zuni
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000,1,4,5,1,1,3,3,4,20,1,...,1,1,2,1,2,12,4,1,1,1

In [22]:
df_sorted = df_dropname.sort_values(by=[2000],ascending=False, axis=1)
df_sorted

,game,players,player,cards,s,card,new,points,play,board,...,kettering,keyed,keyword,kicking,kidnappings,kiev,kilometers,kilwa,kimonos,zuni
0,3,6,2,2,0,4,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,5,2,1,1,1,1,3,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,5,1,3,8,3,1,3,0,1,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,6,0,2,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,6,7,6,2,1,0,5,2,3,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1,0,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,4,1,3,4,4,3,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1998,2,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,7,2,0,0,0,0,5,0,3,...,0,0,0,0,0,0,0,0,0,0
2000,5918,4360,3352,3153,1851,1818,1798,1489,1355,1142,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
df_sorted.to_csv('sorted_word.csv')